doctype html
head
  link(rel="stylesheet", href="css/bundle.css")
  link(rel="stylesheet", href="css/leaflet-draw/leaflet.draw.css")
  style.
    #map { height: 800px }
body
  #map
  script(src="js/bundle.js")
